/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    font-size: 2em;
}

.section {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#team-info,
#draft-content,
#players,
#drafted-players {
    flex: 1;
    min-width: 250px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#players {
    max-height: 500px;
    overflow-y: auto;
}

button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #05f832;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Drafted Players List */
#drafted-list {
    list-style-type:decimal;
    border: #007BFF;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#drafted-list li {
    padding: 5px;
    background-color: #d0d6d0;
    border: 1px solid #3693ea;
    margin-bottom: 5px;
    border-radius: 5px;
}

.selected {
    background-color:#07f627 !important;
    color: #fff !important;
}